<div class="mt-4 p-5 text-dark rounded">
    <div class="row">
        <div class="col-md-6 text-end">
            <h1 style="font-size: 6.5vw;">Welcome to <span class="text-warning">ARTISANS</span></h1>
            <p style="font-size: 2vh;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem blanditiis ullam neque reiciendis velit fugit molestias iure tempora hic nulla placeat quisquam laboriosam, officiis culpa, sunt aperiam vel tenetur suscipit.</p>
        </div>
        <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1522322512347-a0e57fd1744c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGx1bWJlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Artisan image" class="jumbotron-image img-responsive" style="max-width: 100%;">
        </div>
    </div>
    <p class="text-center mt-5">
        <%= link_to "Register an Artisan profile", new_profile_path, class: "btn btn-outline-warning" %> <%= link_to "Need a service?", profiles_path, class: "btn btn-outline-warning" %>
    </p>
</div>