// .ss-list {
//     color: #666;
// }

// .ss-main {
//     color: transparent !important;
// }

p {
    font-size: 15px;
    margin-bottom: .3rem
}

.index-link {
    color: #000;
    text-decoration: none;
    &:hover,&:focus {
        color: #000;
        text-decoration: underline;
    }
}

// .navbar {
//     .nav-link {
//       &:hover {
//         text-decoration: none;
//       }      
//     }
// }

.sub-messages {
    padding-left: 20px;
}

.message-form {
    display: none;
}

.profile-hr {
    margin: .5rem 0;
    color: inherit;
    border: 0;
    border-top: 5px solid #000;
    opacity: 1;
    width: 3em;
}

.profile-meta {
    border: 1px solid grey;
    border-radius: 5px;
}